<h2>List of available libs</h2>
<div class="container">
  <a routerLink="/ngx-validators" class="container__link">
    <mat-card mat-ripple class="container__card">
      <mat-card-title>
        ngx-validators
      </mat-card-title>
      <mat-card-content>
        An implementation of various angular validators for Angular 2+
      </mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/ngx-phone-validators" class="container__link">
    <mat-card mat-ripple class="container__card">
      <mat-card-title>
        ngx-phone-validators
      </mat-card-title>
      <mat-card-content>
        An implementation of phone number validators using google-libphonenumber
      </mat-card-content>
    </mat-card>
  </a>
</div>
