<form>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="model.min"
      name="minValue"
      placeholder="Min value"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="model.max"
      name="maxValue"
      placeholder="Max value"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="model.range"
      name="range"
      #formControl3="ngModel"
      isInRange
      [minValue]="model.min"
      [maxValue]="model.max"
      placeholder="Range (2-100)"
    />
    <mat-error *ngIf="formControl3.hasError('numberRequired')" class="error"
      >Needs to be a number</mat-error
    >
    <mat-error *ngIf="formControl3.hasError('rangeValueToSmall')" class="error"
      >Number to small</mat-error
    >
    <mat-error *ngIf="formControl3.hasError('rangeValueToBig')" class="error"
      >Number to big</mat-error
    >
  </mat-form-field>
  <!-- <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="model.range"
      name="range"
      #formControl4="ngModel"
      isInRange
      [minValue]="2"
      [maxValue]="5"
      placeholder="Range (2-100)"
    />
    <mat-error *ngIf="formControl4.hasError('numberRequired')" class="error"
      >Needs to be a number</mat-error
    >
    <mat-error *ngIf="formControl4.hasError('rangeValueToSmall')" class="error"
      >Number to small</mat-error
    >
    <mat-error *ngIf="formControl4.hasError('rangeValueToBig')" class="error"
      >Number to big</mat-error
    >
  </mat-form-field> -->
  <p>{{ model | json }}</p>
</form>
