<form>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input type="email" matInput [(ngModel)]="model" name="email" #formControl="ngModel" email placeholder="Email">
      </mat-form-field>
      <div class="error-container">
        <div *ngIf="formControl.hasError('normalEmailRule')" class="error">Is not a email</div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
