<form [formGroup]="form">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Universal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="noWhitespace" name="noWhitespace" placeholder="No whitespace">
                    <mat-hint *ngIf="noWhitespace.hasError('noWhitespaceRequired')" class="error">No whitespaces allowed</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="noEmptyString" name="noEmptyString" placeholder="No emptyString">
                    <mat-hint *ngIf="noEmptyString.hasError('noEmptyString')" class="error">No emptyStrings allowed</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="min" name="min" placeholder="Min number (5)">
                    <mat-hint *ngIf="min.hasError('numberRequired')" class="error">Is not a number</mat-hint>
                    <mat-hint *ngIf="min.hasError('min')" class="error">Number to small</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="max" name="max" placeholder="Max number (10)">
                    <mat-hint *ngIf="max.hasError('numberRequired')" class="error">Is not a number</mat-hint>
                    <mat-hint *ngIf="max.hasError('max')" class="error">Number to big</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="minLength" name="minLength" placeholder="Min length (min 3)">
                    <mat-hint *ngIf="minLength.hasError('minLength')" class="error">Input to short (min 3)</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="maxLength" name="maxLength" placeholder="Max length (max 5)">
                    <mat-hint *ngIf="maxLength.hasError('maxLength')" class="error">Input to long (max 5)</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="isInRange" name="maxLength" placeholder="Range (3, 6)">
                    <mat-hint *ngIf="isInRange.hasError('numberRequired')" class="error">Is not a number</mat-hint>
                    <mat-hint *ngIf="isInRange.hasError('rangeValueToSmall')" class="error">Number to small</mat-hint>
                    <mat-hint *ngIf="isInRange.hasError('rangeValueToBig')" class="error">Number to big</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="isNumber" name="isNumber" placeholder="Is number">
                    <mat-hint *ngIf="isNumber.hasError('numberRequired')" class="error">Is not a number</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</form>
