#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
*.js
!test-config.js
!karma.conf.js
!rollup.config.js
!karma-test-shim.js
*.map
*.d.ts
!make.js
!bundles/*.js
typings

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

jsconfig.json
*.log
*.tgz
examples/node_modules/
*.ngsummary.json
*.metadata.json
*.ngfactory.ts
bundles/ng2-validators.umd.js
bundles/ng2-validators.umd.min.js
