#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
*.ts
!*.d.ts
tests
typings.json
typings/
.gitignore
tsconfig.json
.npmignore
karma-test-shim.js
karma.conf.js

#################
## Visual Studio Code
#################
.vscode/

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

examples/
ng2-validators-2.0.0.tgz

