<md-toolbar color="primary">
    <button md-button class="menu-button" (click)="sidenav.toggle()">
    <md-icon>menu</md-icon></button>
    <span class="home" [routerLink]="['guide']">ng2-validators</span>
</md-toolbar>

<md-sidenav-container>
    <md-sidenav opened="true" #sidenav>
        <!-- sidenav content -->
        <md-nav-list>
            <a md-list-item [routerLink]="['guide']" routerLinkActive="selected">Guide</a >
            <a md-list-item [routerLink]="['reactive-forms']" routerLinkActive="selected">Reactive forms</a >
            <a md-list-item [routerLink]="['forms']" routerLinkActive="selected">Forms</a >
            <a md-list-item href="https://github.com/Nightapes/ng2-validators">Github</a >
            <a md-list-item href="https://github.com/Nightapes/ng2-validators/issues">Github Issues</a >
        </md-nav-list>
  </md-sidenav>

  <!-- primary content -->
<div class="container">
    <router-outlet></router-outlet>
</div>
</md-sidenav-container>