<mat-toolbar color="primary">
    <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon></button>
    <span class="home" [routerLink]="['guide']">ngx-validators</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- sidenav content -->
        <mat-nav-list>
            <a mat-list-item [routerLink]="['guide']" routerLinkActive="selected">Guide</a >
            <a mat-list-item [routerLink]="['reactive-forms']" routerLinkActive="selected">Reactive forms</a >
            <a mat-list-item [routerLink]="['forms']" routerLinkActive="selected">Forms</a >
            <a mat-list-item href="https://github.com/Nightapes/ngx-validators">Github</a >
            <a mat-list-item href="https://github.com/Nightapes/ngx-validators/issues">Github Issues</a >
        </mat-nav-list>
  </mat-sidenav>

  <!-- primary content -->
<div class="container">
    <router-outlet></router-outlet>
</div>
</mat-sidenav-container>
