<md-toolbar color="primary">
    <span>ng2-validators</span>
    <button [routerLink]="['./']" routerLinkActive="active" md-button>Reactive forms</button>
    <button [routerLink]="['./forms']" routerLinkActive="active" md-button>Forms</button>
    <button md-button>Guide</button>
    <a md-button href="https://github.com/Nightapes/ng2-validators">Github</a>
    <a md-button href="https://github.com/Nightapes/ng2-validators/issues">Github Issues</a>
</md-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>