<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport="true" fixedTopGap="0">
    <!-- sidenav content -->
    <mat-nav-list dense>
      <a
        mat-list-item
        [routerLink]="['']"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        #home="routerLinkActive"
        (click)="sidenav.close()"
        >Home</a
      >
      <a
        mat-list-item
        [routerLink]="['ngx-validators']"
        routerLinkActive="selected"
        #ngxValidators="routerLinkActive"
        (click)="sidenav.close()"
        >ngx-validators</a
      >
      <a
        mat-list-item
        [routerLink]="['ngx-phone-validators']"
        routerLinkActive="selected"
        #ngxPhoneValidators="routerLinkActive"
        (click)="sidenav.close()"
        >ngx-phone-validators</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- primary content -->
  <mat-toolbar color="primary">
    <button mat-button class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="home" [routerLink]="['']">home</a>
    <div class="home" *ngIf="!home.isActive">/</div>
    <a
      class="home"
      *ngIf="ngxValidators.isActive"
      [routerLink]="['ngx-validators']"
      >ngx-validators</a
    >
    <a
      class="home"
      *ngIf="ngxPhoneValidators.isActive"
      [routerLink]="['ngx-phone-validators']"
      >ngx-validators</a
    >
    <span class="fill-space"></span>
    <a
      mat-button
      href="https://github.com/Nightapes/ngx-validators"
      class="menu-button"
    >
      <img class="github" src="./assets/github.png" />
    </a>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
