.error {
    color: red;
    font-size: 75%;
}

.error-container {
    margin-top: -15px;
    margin-bottom: 5px;
}

.success {
    color: green;
    font-size: 75%;
}

.grey {
    color: black;
    font-size: 75%;
}