<form [formGroup]="form">
    <md-card class="card">
        <md-card-header>
            <md-card-title>Email</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-input-container>
                <input mdInput formControlName="email" name="email" placeholder="Email">
                <md-hint *ngIf="email.hasError('normalEmailRule')" class="error">Is not a email</md-hint>
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-header>
            <md-card-title>Password</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-input-container>
                <input mdInput formControlName="newPassword" name="newPassword" type="password" placeholder="Password">
            </md-input-container>
            <div class="error-container">
                <div [ngClass]="getHintClass('newPassword','repeatCharacterRegexRule')">Password contains no repeating characters</div>
                <div [ngClass]="getHintClass('newPassword','digitCharacterRule')">Password contains at least on digit</div>
                <div [ngClass]="getHintClass('newPassword','alphabeticalCharacterRule')">Password contains at least on alphabetical character</div>
                <div [ngClass]="getHintClass('newPassword','lowercaseCharacterRule')">Password contains at least on lowercase character</div>
                <div [ngClass]="getHintClass('newPassword','uppercaseCharacterRule')">Password contains at least on uppercase character</div>
                <div [ngClass]="getHintClass('newPassword','specialCharacterRule')">Password contains at least on special character</div>
            </div>
            <md-input-container>
                <input mdInput formControlName="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password">
                <md-hint *ngIf="confirmPassword.hasError('mismatchedPasswords')" class="error">Mismatched passwords</md-hint>
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-header>
            <md-card-title>Phone</md-card-title>
        </md-card-header>
        <md-card-content>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container>
                            <input mdInput formControlName="countryCode" name="countryCode" placeholder="CountryCode">
                            <md-hint *ngIf="countryCode.hasError('noValidRegionCode')" class="error">Is not a country code</md-hint>
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container>
                            <input mdInput formControlName="possiblePhone" name="possiblePhone" placeholder="possible Phone (weak check)">
                            <md-hint *ngIf="possiblePhone.hasError('noValidRegionCode') || phone.hasError('phoneNumberInvalidCountryCode')" class="error">Wrong country code</md-hint>
                            <md-hint *ngIf="possiblePhone.hasError('phoneNumberTooLong')" class="error">Phone number is to long</md-hint>
                            <md-hint *ngIf="possiblePhone.hasError('phoneNumberTooShort')" class="error">Phone number is to short</md-hint>
                            <md-hint *ngIf="possiblePhone.hasError('noPhoneNumber')" class="error">Is not a phone number</md-hint>
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container>
                            <input mdInput formControlName="phone" name="phone" placeholder="Phone">
                            <md-hint *ngIf="phone.hasError('noPhoneNumber')" class="error">Is not a phone number</md-hint>
                            <md-hint *ngIf="phone.hasError('noValidRegionCode')" class="error">Wrong country code</md-hint>
                        </md-input-container>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-header>
            <md-card-title>Creditcard</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-input-container>
                <input mdInput formControlName="creditCard" name="creditCard" placeholder="CreditCard">
                <md-hint *ngIf="creditCard.hasError('creditcard')" class="error">Is not a creditCard</md-hint>
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-header>
            <md-card-title>Universal</md-card-title>
        </md-card-header>
        <md-card-content>
            <div>
                <md-input-container>
                    <input mdInput formControlName="noWhitespace" name="noWhitespace" placeholder="No whitespace">
                    <md-hint *ngIf="noWhitespace.hasError('noWhitespaceRequired')" class="error">No whitespaces allowed</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="min" name="min" placeholder="Min number">
                    <md-hint *ngIf="min.hasError('numberRequired')" class="error">Is not a number</md-hint>
                    <md-hint *ngIf="min.hasError('min')" class="error">Number to small</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="max" name="max" placeholder="Max number">
                    <md-hint *ngIf="max.hasError('numberRequired')" class="error">Is not a number</md-hint>
                    <md-hint *ngIf="max.hasError('max')" class="error">Number to big</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="minLength" name="minLength" placeholder="Min length">
                    <md-hint *ngIf="minLength.hasError('minLength')" class="error">Input to long</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="maxLength" name="maxLength" placeholder="Max length">
                    <md-hint *ngIf="maxLength.hasError('maxLength')" class="error">Input to long</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="isInRange" name="maxLength" placeholder="Range">
                    <md-hint *ngIf="isInRange.hasError('numberRequired')" class="error">Is not a number</md-hint>
                    <md-hint *ngIf="isInRange.hasError('rangeValueToSmall')" class="error">Number to small</md-hint>
                    <md-hint *ngIf="isInRange.hasError('rangeValueToBig')" class="error">Number to big</md-hint>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput formControlName="isNumber" name="isNumber" placeholder="Is number">
                    <md-hint *ngIf="isNumber.hasError('numberRequired')" class="error">Is not a number</md-hint>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</form>