<form>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input type="password" matInput [(ngModel)]="password" name="password" #formControl="ngModel" password placeholder="Password">
            </mat-form-field>
            <div class="error-container">
                <div *ngIf="formControl.hasError('repeatCharacterRegexRule')" class="error">Password contains repeating characters</div>
                <div *ngIf="formControl.hasError('digitCharacterRule')" class="error">Password should contain at least on digit</div>
                <div *ngIf="formControl.hasError('alphabeticalCharacterRule')" class="error">Password should contain at least on alphabetical character</div>
                <div *ngIf="formControl.hasError('lowercaseCharacterRule')" class="error">Password should contain at least on lowercase character</div>
                <div *ngIf="formControl.hasError('uppercaseCharacterRule')" class="error">Password should contain at least on uppercase character</div>
            </div>
        </mat-card-content>
    </mat-card>
</form>