<form>
  <md-card class="card">
    <md-card-header>
      <md-card-title>Password</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input type="password" mdInput [(ngModel)]="password" name="password" #formControl="ngModel" password placeholder="Password">
      </md-input-container>
      <div class="error-container">
        <div *ngIf="formControl.hasError('repeatCharacterRegexRule')" class="error">Password contains repeating characters</div>
        <div *ngIf="formControl.hasError('digitCharacterRule')" class="error">Password should contain at least on digit</div>
        <div *ngIf="formControl.hasError('alphabeticalCharacterRule')" class="error">Password should contain at least on alphabetical character</div>
        <div *ngIf="formControl.hasError('lowercaseCharacterRule')" class="error">Password should contain at least on lowercase character</div>
        <div *ngIf="formControl.hasError('uppercaseCharacterRule')" class="error">Password should contain at least on uppercase character</div>
      </div>
    </md-card-content>
  </md-card>
</form>