<mat-form-field>
    <mat-select placeholder="Type" [(value)]="selected">
        <mat-option value="form" *ngIf="currentValidator.formHTML">
            Form
        </mat-option>
        <mat-option value="reactiveForm" *ngIf="currentValidator.reactiveformHTML">
            Reactive Form
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Universal validator - {{item}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="selected =='reactiveForm'">
            <app-reactive-creditcard *ngIf="item == 'all'"></app-reactive-creditcard>
            <app-reactive-american-express *ngIf="item == 'americanexpress'"></app-reactive-american-express>
            <app-reactive-visa *ngIf="item == 'visa'"></app-reactive-visa>
            <app-reactive-dinersclub *ngIf="item == 'dinersclub'"></app-reactive-dinersclub>
            <app-reactive-discover *ngIf="item == 'discover'"></app-reactive-discover>
            <app-reactive-jcb *ngIf="item == 'jcb'"></app-reactive-jcb>
            <app-reactive-maestro *ngIf="item == 'maestro'"></app-reactive-maestro>
            <app-reactive-mastercard *ngIf="item == 'mastercard'"></app-reactive-mastercard>
        </ng-container>
        <ng-container *ngIf="selected =='form'">
            <app-creditcard *ngIf="item == 'all'"></app-creditcard>
            <app-american-express *ngIf="item == 'americanexpress'"></app-american-express>
            <app-visa *ngIf="item == 'visa'"></app-visa>
            <app-dinersclub *ngIf="item == 'dinersclub'"></app-dinersclub>
            <app-discover *ngIf="item == 'discover'"></app-discover>
            <app-jcb *ngIf="item == 'jcb'"></app-jcb>
            <app-maestro *ngIf="item == 'maestro'"></app-maestro>
            <app-mastercard *ngIf="item == 'mastercard'"></app-mastercard>
        </ng-container>
    </mat-card-content>
</mat-card>
<app-codeviewer *ngIf="currentValidator && selected =='form'" [html]="currentValidator.formHTML" [tsCode]="currentValidator.formTS"></app-codeviewer>
<app-codeviewer *ngIf="currentValidator && selected =='reactiveForm'" [html]="currentValidator.reactiveformHTML" [tsCode]="currentValidator.reactiveformTS"></app-codeviewer>