<form [formGroup]="form">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput formControlName="newPassword" name="newPassword" type="password" placeholder="Password">
            </mat-form-field>
            <div class="error-container">
                <div [ngClass]="getHintClass('newPassword','repeatCharacterRegexRule')">Password contains no repeating characters</div>
                <div [ngClass]="getHintClass('newPassword','digitCharacterRule')">Password contains at least on digit</div>
                <div [ngClass]="getHintClass('newPassword','alphabeticalCharacterRule')">Password contains at least on alphabetical character</div>
                <div [ngClass]="getHintClass('newPassword','lowercaseCharacterRule')">Password contains at least on lowercase character</div>
                <div [ngClass]="getHintClass('newPassword','uppercaseCharacterRule')">Password contains at least on uppercase character</div>
                <div [ngClass]="getHintClass('newPassword','specialCharacterRule')">Password contains at least on special character</div>
            </div>
            <mat-form-field>
                <input matInput formControlName="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password">
                <mat-hint *ngIf="confirmPassword.hasError('mismatchedPasswords')" class="error">Mismatched passwords</mat-hint>
            </mat-form-field>
            <p> <button mat-button type="submit" (click)="submit()" class="btn btn-success" [disabled]="!form.valid">Submit</button></p>
            <p>{{value}}</p>
        </mat-card-content>
    </mat-card>
</form>
