<form [formGroup]="form">
  <md-card class="card">
    <md-card-header>
      <md-card-title>Password</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput formControlName="newPassword" name="newPassword" type="password" placeholder="Password">
      </md-input-container>
      <div class="error-container">
        <div [ngClass]="getHintClass('newPassword','repeatCharacterRegexRule')">Password contains no repeating characters</div>
        <div [ngClass]="getHintClass('newPassword','digitCharacterRule')">Password contains at least on digit</div>
        <div [ngClass]="getHintClass('newPassword','alphabeticalCharacterRule')">Password contains at least on alphabetical character</div>
        <div [ngClass]="getHintClass('newPassword','lowercaseCharacterRule')">Password contains at least on lowercase character</div>
        <div [ngClass]="getHintClass('newPassword','uppercaseCharacterRule')">Password contains at least on uppercase character</div>
        <div [ngClass]="getHintClass('newPassword','specialCharacterRule')">Password contains at least on special character</div>
      </div>
      <md-input-container>
        <input mdInput formControlName="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password">
        <md-hint *ngIf="confirmPassword.hasError('mismatchedPasswords')" class="error">Mismatched passwords</md-hint>
      </md-input-container>
    </md-card-content>
  </md-card>
</form>