<form>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Universal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.whitespace" name="whitespace" #formControl="ngModel"
                 noWhitespace placeholder="Whitespace">
          <mat-hint *ngIf="formControl.hasError('noWhitespaceRequired')" class="error">No whitespace allowed</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.emptyString" name="emptyString" #formControl1="ngModel"
                 noEmptyString placeholder="EmptyString">
          <mat-hint *ngIf="formControl1.hasError('noEmptyString')" class="error">No emptyString allowed</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.isNumber" name="isNumber" #formControl2="ngModel" isNumber
                 placeholder="isNumber">
          <mat-hint *ngIf="formControl2.hasError('numberRequired')" class="error">Is not a number</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.range" name="range" #formControl3="ngModel" isInRange
                 minValue="2" maxValue="100" placeholder="Range (2-100)">
          <mat-hint *ngIf="formControl3.hasError('numberRequired')" class="error">Needs to be a number</mat-hint>
          <mat-hint *ngIf="formControl3.hasError('rangeValueToSmall')" class="error">Number to small</mat-hint>
          <mat-hint *ngIf="formControl3.hasError('rangeValueToBig')" class="error">Number to big</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.min" name="min" #formControl4="ngModel" min="2"
                 placeholder="min (2)">
          <mat-hint *ngIf="formControl4.hasError('numberRequired')" class="error">Needs to be a number</mat-hint>
          <mat-hint *ngIf="formControl4.hasError('min')" class="error">Number to small</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="model.max" name="max" #formControl5="ngModel" max="22"
                 placeholder="max (22)">
          <mat-hint *ngIf="formControl5.hasError('numberRequired')" class="error">Needs to be a number</mat-hint>
          <mat-hint *ngIf="formControl5.hasError('max')" class="error">Number to big</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>
